<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TitleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,142}</string>
                <key>spriteSourceSize</key>
                <string>{526,142}</string>
                <key>textureRect</key>
                <string>{{775,112},{526,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,46}</string>
                <key>textureRect</key>
                <string>{{1199,5},{54,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{950,300}</string>
                <key>spriteSourceSize</key>
                <string>{950,300}</string>
                <key>textureRect</key>
                <string>{{952,322},{950,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,128}</string>
                <key>spriteSourceSize</key>
                <string>{163,128}</string>
                <key>textureRect</key>
                <string>{{607,112},{163,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,105}</string>
                <key>spriteSourceSize</key>
                <string>{296,105}</string>
                <key>textureRect</key>
                <string>{{5,112},{296,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_not_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,105}</string>
                <key>spriteSourceSize</key>
                <string>{296,105}</string>
                <key>textureRect</key>
                <string>{{306,112},{296,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{41,47}</string>
                <key>textureRect</key>
                <string>{{1258,5},{41,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{91,94}</string>
                <key>textureRect</key>
                <string>{{1649,5},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1091,5},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1154,5},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,549}</string>
                <key>spriteSourceSize</key>
                <string>{419,549}</string>
                <key>textureRect</key>
                <string>{{5,1177},{419,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,549}</string>
                <key>spriteSourceSize</key>
                <string>{419,549}</string>
                <key>textureRect</key>
                <string>{{429,1177},{419,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,549}</string>
                <key>spriteSourceSize</key>
                <string>{419,549}</string>
                <key>textureRect</key>
                <string>{{853,1177},{419,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,545}</string>
                <key>spriteSourceSize</key>
                <string>{419,545}</string>
                <key>textureRect</key>
                <string>{{801,627},{419,545}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,545}</string>
                <key>spriteSourceSize</key>
                <string>{419,545}</string>
                <key>textureRect</key>
                <string>{{1225,627},{419,545}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,193}</string>
                <key>spriteSourceSize</key>
                <string>{191,193}</string>
                <key>textureRect</key>
                <string>{{1306,112},{191,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{991,18}</string>
                <key>spriteSourceSize</key>
                <string>{991,18}</string>
                <key>textureRect</key>
                <string>{{5,5},{991,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_sm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,18}</string>
                <key>spriteSourceSize</key>
                <string>{85,18}</string>
                <key>textureRect</key>
                <string>{{1001,5},{85,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loaderDynamic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{1304,5},{75,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loader_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,70}</string>
                <key>spriteSourceSize</key>
                <string>{260,70}</string>
                <key>textureRect</key>
                <string>{{1384,5},{260,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{1122,5},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1745,5},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_area.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{942,269}</string>
                <key>spriteSourceSize</key>
                <string>{942,269}</string>
                <key>textureRect</key>
                <string>{{5,322},{942,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,533}</string>
                <key>spriteSourceSize</key>
                <string>{403,533}</string>
                <key>textureRect</key>
                <string>{{393,627},{403,533}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_frame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,513}</string>
                <key>spriteSourceSize</key>
                <string>{383,513}</string>
                <key>textureRect</key>
                <string>{{5,627},{383,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_frame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,557}</string>
                <key>spriteSourceSize</key>
                <string>{427,557}</string>
                <key>textureRect</key>
                <string>{{1277,1177},{427,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{1850,5},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_area_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,205}</string>
                <key>spriteSourceSize</key>
                <string>{419,205}</string>
                <key>textureRect</key>
                <string>{{1502,112},{419,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{1967,1739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b87ba70938767be5bc330d133e4bb1b:fc5b2cc98fa7cf56ff9f0b4a0dc03488:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
